@model IEnumerable<e_Estoque.App.ViewModels.Tax.TaxViewModel>

@{
    ViewData["Title"] = "index";
}

<h1>List of taxs</h1>


<table class="table table-primary table-striped table-hover table-bordered">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-info">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategory)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedAt)
                </td>
                <td>
                    @Html.ActionLink("", "Edit", new {  id=item.Id  }, new { @class = "bi bi-pencil", title = "Confirm"})
                    @Html.ActionLink("", "Delete", new {  id=item.Id  }, new { @class = "bi bi-x-circle", title = "Confirm"})
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-auto me-auto">
            <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle"></i> Create New</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" asp-action="Download"><i class="bi bi-download"></i> Export</a>
        </div>
    </div>
</div>